body{

}

#container {
    background-color:#373F51;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;

}

header, main, footer {
    margin: 10px;
}

/*Header Start*/

header {
    background-color:#373F51;
    height: 70px;
    margin-top: 0;
}

#nav-links {
    text-align: right;
    margin:10px;
}
#nav-title {
    text-align: right;
    font-size: 30px;
    margin-top: 10px;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#373F51;

  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    color:#C4CAD0;
  }
  

/*Header End*/

/* Main is in homepage only */
main{
    background-color: #525B76;
    padding: 20px;
}

img{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#body-text{
    text-align: center;
    font-size: 30px;


}
h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

#body-container {
    background-color:#525B76;
    display: flex;
    /* height: 400px; */
    padding: 20px;
    }
    
#body-container > div {
  background-color: #201E50;
  height: 100px;
  width: 100px;
  flex-grow: 1;
  margin: 10px;
  font-size: 40px;
  text-align: center;
 padding-bottom: 20px;

}

/* CSS Just for the About page */

#pdf-link > a {
    color: #C4CAD0;
 
}


/* CSS Just for the Contact page */    












/*Footer Start*/
footer{
    background-color: #8A95A5;
    height: 50px;
    margin: 10px;
    padding: 5px;
    text-align: right;
}
/*Footer End*/



/* PORTFOLIO PAGE */


#project1{
    widows: 600px;
    background-color: #8A95A5;
    margin: 0, auto;
}

#project2{
    widows: 600px;
    background-color: #8A95A5;
    margin: 0, auto;
}

#project3{
    widows: 600px;
    background-color:#8A95A5;
    margin: 0, auto;
}

h2{
    font-size: 34px;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial;
    margin:  10px, 0, 0, 10px;
}

#aboutproject {
    float: right;
    width: 450px;
    margin-top: 20px;
    font-size: 20px;
}

#projectthumb {
    margin: 20px;
    /* border: yellow 5px dashed; */

}


